@font-face{
    font-family: "Montserrat";
    src: url('./Fuentes/Montserrat-Regular.ttf');
}

@font-face{
    font-family: "BunglerLight";
    src: url('./Fuentes/BunglerLight.ttf');
}

:root{
    --colorFondo: #bfdcae;
    --color: #f1f1e8;
    --color1 : #252d59;
}


body{
    background-color: var(--colorFondo);
    font-family: BunglerLight,Arial, Helvetica, sans-serif;
    color: var(--color1);
}

.container .titulo-2 h3{
    animation-name: desvanecer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 7em;
}

@keyframes desvanecer {
    from{
        opacity:0;
    }
    to{
        opacity:1
    }

}
