@font-face{
    font-family: "BunglerLight";
    src: url('./Fuentes/BunglerLight.ttf');
}

@font-face{
    font-family: "Montserrat";
    src: url('./Fuentes/Montserrat-Regular.ttf');
}

:root{
    --color1 : #252d59;
    --color2: #f6f5f5;
    --color3: #168c8c;
    --color4: #9fbf2c;
    --colorRojo: #e62a37;
}


body{
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    color: var(--color1);
    background-color: var(--color2);
}

.container{
    background-image: url('./imagenes/fondo-mesa.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.container .card{
    background-image: url('./imagenes/Fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.container .card .card-title h1{
    animation-duration: 5s;
    animation-name: desaparecer;
    font-family: BunglerLight;
    font-size:  7em;
}

@keyframes desaparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.container .card .card-body .imagen .imagen-one{
    font-size: 2em;
    width: 100em;
}

.transparencia{
    background-color: transparent;
    height: 100px;
}


label{
    font-weight: lighter;
}
.icon{
    cursor: pointer;
}

li{
    list-style: none;
}

.imagen{
    width: 50%;
    
}

.range-bar{
    width: 85%;
}

.range-leyend::after{
    content: "5";
    font-weight: bold;
    color: var(--color1);
    position: relative;
    font-size: 14px;
}
.range-leyend::before{
    content: "1";
    font-weight: bold;
    color: var(--color1);
    position: relative;
    font-size: 14px;
}




@media (max-width: 991.98px) { 
    .container{
        font-size: 14px;
    }
 }

 @media (max-width: 767.98px) { 
    .container{
        font-size: 12px;
    }
    .container .card .card-body{
        font-size: 1.2em;
    }
  }

  @media (max-width: 575.98px) { 
    .container{
        font-size: 8px;
    }
    
   }